<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samsam.books.mapper.BooksMapper">
    <insert id="insertBooksInfo" parameterType="com.samsam.books.model.Books">
        INSERT INTO BOOKS (bookImageURL, bookname, authors, publisher, publicationYear, callNum, className, isbn13)
        VALUES (#{bookImageURL}, #{bookname}, #{authors}, #{publisher}, #{publicationYear}, #{callNum}, #{className}, #{isbn13})
    </insert>
</mapper>